{% extends "::base.html.twig" %}


{% block body %}
    {% block content_header %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('homepage_locale', {'_locale': app.request.locale}) }}">Joasia & Bartek</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="{{ path('homepage_locale', {'_locale': app.request.locale}) }}">Home</a></li>
                            <li><a href="{{ path('place', {'_locale': app.request.locale}) }}">{{ 'mainmenu-place'|trans }}</a></li>
                            <li><a href="{{ path('gifts', {'_locale': app.request.locale}) }}">{{ 'mainmenu-gifts'|trans }}</a></li>
                            <li><a href="{{ path('registration', {'_locale': app.request.locale}) }}">{{ 'mainmenu-registration'|trans }}</a></li>
                            <li><a href="{{ path('contact', {'_locale': app.request.locale}) }}">{{ 'mainmenu-contact'|trans }}</a></li>
                        </ul>
                        
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    {% endblock %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="container">
            <div class="flash-message">
                <em>Notice</em>: {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
