{% set confirmation_url = 'http://joasia-i-bartek.pl' ~ path('registration', {'token' : guest.token, '_locale': guest.locale}) %}

<body>
    {% if guest.locale == 'pl' %}
        <h1 style="text-align: center">Zaproszenie</h1>
        <h2 style="text-align: center">dla {{ guest.fullname }}</h2>

        <div style="text-align: center; margin: 20px 0 50px 0; line-height: 21px; font-style: italic; font-size: 15px;">
            <p>
                w imieniu Rodziców i własnym<br/>
                z radością zapraszają Sz. P. na swój Ślub,<br/>
                który odbędzie się dnia 01 czerwca 2013 roku<br/>
                o godzinie 13.00 w Urzędzie Stanu Cywilnego w Gdyni.
            </p>
        </div>
        <div>
            <p>Z powodów logistycznych i czasowych zdecydowaliśmy sie na powiadomienia i zaproszenia,najszybszym źródłem - Internetem.<br/>
                Wiecej informacji o dalszych działaniach na stronie <a href="www.joasia-i-bartek.pl">www.joasia-i-bartek.pl</a>
            </p>
            <p>
                W celu potwierdzenia swojej obecności lub nieobecosci, prosimy o kliknięcie w poniższy link<br/>
                <a href="{{ confirmation_url }}">kliknij tutaj aby potwierdzć ...</a><br/>
                Jeżeli wystąpią jakiekolwiek problemy z linkiem, proszę na stronie, w zakadce rejetracja wpisać następujący kod {{ guest.token }}
            </p>
        </div>
        <div style="text-align: right; margin-top: 20px;">
            <p>
                Mamy nadzieje, że do zobaczenia 1 czerwca.<br/>
                Joasia i Bartek
            </p>
        </div>
    {% else %}
        <h1 style="text-align: center">Invitation</h1>
        <div style="text-align: center; margin: 20px 0 50px 0; line-height: 21px; font-style: italic; font-size: 15px;">
            <p>
                Together with our parents<br/>
                we are happy to invite Mr. {{ guest.fullname }} to our wedding<br/>
                which is going to be held on the 1st June 2013<br/>
                at 1 PM in Registry Office in Gdynia
            </p>
        </div>
        <div>
            <p>Due to logistics and time reasons, we have decided to inform and invite you with the quickest available source - the Internet.<br/>
                For more information, please visit <a href="www.joasia-i-bartek.pl">www.joasia-i-bartek.pl</a>
            </p>
            <p>
                In order to confirm your presence or absence, please click on the link below <br/>
                <a href="{{ confirmation_url }}">click here</a><br/>
                If you have any problems with the link, please place the code below on the registration tab {{ guest.token }}
            </p>
        </div>
        <div style="text-align: right; margin-top: 20px;">
            <p>
                We hope to see you on the 1st of June.<br/>
                Joanna Antkiewicz i Bartosz Urbański
            </p>
        </div>
    {% endif %}
    
</body>
